html {
  font-family: "Roboto", sans-serif;
}

body {
  display: inline-flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  background-color: #193a6f;
}

nav {
  display: inline-flex;
  justify-content: flex-end;
}

.nav-items {
  background-color: #193a6f;
  flex-wrap: wrap;
  padding: 1em;
  display: inline-flex;
}

.nav-items > li:first-child {
  align-self: flex-end;
}

.nav-items > li {
  list-style: none;
  padding: 1em;
}

.nav-items > li > a {
  color: white;
  text-decoration: none;
}

footer {
  color: white;
  display: flex;
  flex-wrap: wrap;
  margin-top: auto;
  font-size: 0.5em;
  text-align: center;
}

footer > div {
  padding: 0.5em;
  width: 100%;
}

.article-section {
  display: flex;
  padding-top: 10em;
  color: white;
}

.article-section > article {
  margin: 1em;
  flex-grow: 2;
}

article > p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.text-container {
  padding: 1em;
}

.text-container > p {
  font-size: 4em;
  font-weight: bolder;
  color: white;
  text-align: right;
}

/* Landing presentation */

#landing-image {
  width: 30em;
  height: 30em;
  border-radius: 50%;
  float: right;
}

#coding-button {
  float: right;
  font-size: 1.5em;
  background-color: orange;
  color: white;
  border-radius: 0.5em;
  border: none;
  font-family: inherit;
  text-decoration: none;
  padding: 0.5em;
}

.landing-presentation {
  display: flex;
  flex-wrap: wrap-reverse;
  padding-top: 5em;
}

.image-container,
.text-container {
  flex-grow: 3;
}

/* Testing media queries */

@media screen and (max-width: 480px) {
  #coding-button {
    background-color: red;
    float: none;
  }

  .landing-presentation {
    flex-wrap: wrap;
  }

  .text-container {
    text-align: center;
  }

  .text-container > p {
    text-align: center;
    font-size: 2em;
  }

  .article-section {
    flex-direction: column;
    padding-top: 5em;
  }

  #landing-image {
    width: 15em;
    height: 15em;
    border-radius: 10%;
    float: none;
  }

  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  #coding-button {
    background-color: blue;
  }

  .text-container > p {
    font-size: 4em;
    font-weight: bolder;
    color: white;
    text-align: right;
  }
}

@media screen and (min-width: 1024px) {
  #coding-button {
    background-color: green;
  }
}
